TYPE=Ethernet
BOOTPROTO=none
NAME={{ .Device }}
DEVICE={{ .Device }}
ONBOOT=yes
IPADDR={{ .IPAddress }}
PREFIX={{ .Prefix }}
GATEWAY={{ .Gateway }}
DOMAIN={{ .Domain }}
DNS1={{ .DNS1 }}
DNS2={{ .DNS2 }}